@import url('https://fonts.googleapis.com/css?family=Adamina');

main {
  padding: 50px 0px 200px 0px;
  font-family: Adamina;
}

hr {
  border: none;
  display: block;
  background-color: black;
  height: 2px;
}


.navbar {
  font-size: 26px;
  z-index: 1;
  transform: translate(0px, -80px);
  transition: transform 900ms ease;
  -webkit-transition: transform 900ms ease;
  -moz-transition: transform 900ms ease;
  -o-transition: transform 900ms ease;
}

.show {
  transform: translate(0px, 0px);
}

.navToggle {
  z-index: 2;
  display: inline-block;
  cursor: pointer;
  right: 10px;
  top: 10px;
  position: fixed;
}

.bar1,
.bar2,
.bar3 {
  width: 40px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: transform 400ms ease, opacity 400ms ease;
  transform: rotate(0deg) translate(0px, 0px);
  opacity: 1;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

#hideShowPic {
  margin: auto;
  display: block;
  z-index: 1;
  height: 40px;
  width: 40px;
}

.full-aboutme {
  padding-top: 20px;
}

@keyframes opacity_reveal {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

#aboutImg {
  opacity: 0;
  transform: translate(0px, 0px);
  position: static;
  width: 100%;
  height: 100%;
  padding-bottom: 50px;
}

#aboutImg.load {
  animation: opacity_reveal 800ms ease 0s 1 normal forwards;
}

#aboutHeader {
  opacity: 0;
  transform: translate(15px, 0px);
}

#aboutHeader.load {
  animation: opacity_reveal 800ms ease 800ms 1 normal forwards;
}

#aboutP1 {
  opacity: 0;
  transform: translate(5px, 0px);
}

#aboutP1.load {
  animation: opacity_reveal 800ms ease 1200ms 1 normal forwards;
}

#aboutList {
  opacity: 0;
  transform: translate(0px, 0px);
}

#aboutList.load {
  animation: opacity_reveal 800ms ease 1600ms 1 normal forwards;
}

#listElem1 {
  opacity: 0;
  transform: translate(15px, 0px);
}

#listElem1.load {
  animation: opacity_reveal 800ms ease 2000ms 1 normal forwards;
}

#listElem2 {
  opacity: 0;
  transform: translate(15px, 0px);
}

#listElem2.load {
  animation: opacity_reveal 800ms ease 2400ms 1 normal forwards;
}

#listElem3 {
  opacity: 0;
  transform: translate(15px, 0px);
}

#listElem3.load {
  animation: opacity_reveal 800ms ease 2700ms 1 normal forwards;
}

#listElem4 {
  opacity: 0;
  transform: translate(15px, 0px);
}

#listElem4.load {
  animation: opacity_reveal 800ms ease 3000ms 1 normal forwards;
}

#listElem5 {
  opacity: 0;
  transform: translate(15px, 0px);
}

#listElem5.load {
  animation: opacity_reveal 800ms ease 3300ms 1 normal forwards;
}

#aboutP2 {
  opacity: 0;
  transform: translate(5px, 0px);
}

#aboutP2.load {
  animation: opacity_reveal 800ms ease 4000ms 1 normal forwards;
}

/* Non-Mobile Styles */
@media screen and (min-width: 561px) {
  #GGpoem {
    display: block !important;
  }

  #TDWBGpoem {
    display: block !important;
  }

  #GOALSpoem {
    display: block !important;
  }

  #BDpoem {
    display: block !important;
  }

  #LTTGpoem {
    display: block !important;
  }

  #AMBIGUITYpoem {
    display: block !important;
  }

  #TTpoem {
    display: block !important;
  }

  #COMFORTpoem {
    display: block !important;
  }

  #TMpoem {
    display: block !important;
  }

  #CSpoem {
    display: block !important;
  }

  #INFpoem {
    display: block !important;
  }

  #holder {
    display: block;
  }
}

/* Mobile Styles */
@media screen and (max-width: 560px) {
  #aboutHeader {
    opacity: 1;
    transform: translate(0px, 0px);
  }

  #GGpoem {
    margin: auto;
    display: none;
  }

  #TDWBGpoem {
    margin: auto;
    display: none;
  }

  #GOALSpoem {
    margin: auto;
    display: none;
  }

  #BDpoem {
    margin: auto;
    display: none;
  }

  #LTTGpoem {
    margin: auto;
    display: none;
  }

  #AMBIGUITYpoem {
    margin: auto;
    display: none;
  }

  #TTpoem {
    margin: auto;
    display: none;
  }

  #COMFORTpoem {
    margin: auto;
    display: none;
  }

  #TMpoem {
    margin: auto;
    display: none;
  }

  #CSpoem {
    margin: auto;
    display: none;
  }

  #INFpoem {
    margin: auto;
    display: none;
  }

  main {
    padding: 0px 0px 0px 0px;
  }

  .navbar {
    font-size: 30px;
    transform: translate(0px, 0px);
    transition: transform 900ms ease;
  }

  .navToggle {
    display: none;
  }
}

.headercont {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.background {
  margin: 0 auto;
  height: 820px;
  width: 100%;
  background-image: linear-gradient(rgba(26, 26, 26, 0.25), rgba(26, 26, 26, 0.25)), url("Images/windy_hill.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.greeting {
  opacity: 0;
  font-family: Adamina;
  text-shadow: 5px 5px 10px darkolivegreen;
  margin: 0 auto;
  color: chartreuse;
  padding-top: 100px;
  padding-bottom: 50px;
  transition: opacity 800ms ease-in;
  -webkit-transition: opacity 800ms ease-in;
  -moz-transition: opacity 800ms ease-in;
  -o-transition: opacity 800ms ease-in;
}

.greeting.load {
  opacity: 1;
}

.description {
  opacity: 0;
  font-size: 30px;
  font-family: Adamina, sans-serif;
  margin: 0 auto;
  padding-bottom: 50px;
  color: white;
  transition: opacity 4s ease-in-out;
  -webkit-transition: opacity 4s ease-in-out;
  -moz-transition: opacity 4s ease-in-out;
  -o-transition: opacity 4s ease-in-out;
}

.description.load {
  opacity: 1;
}

.About-me-section {
  font-family: Adamina, sans-serif;
  font-size: 20px;
  color: white;
}

#poetry_header,
#nav_poetry_header {
  opacity: 0;
}

#poetry_header.load {
  animation: opacity_reveal 400ms ease-in 0ms 1 normal forwards;
}

#nav_poetry_header.load {
  animation: opacity_reveal 400ms ease 500ms 1 normal forwards;
}

#poemNav .row {
  margin: 10px 0px 10px 0px;
}

.poem-item {
  opacity: 0;
  margin: auto;
  width: 80%;
  transform: translate(0px, 10px);
}

#GG.load_poem {
  animation: opacity_reveal 200ms ease 1000ms 1 normal forwards;
}

#TDWBG.load_poem {
  animation: opacity_reveal 200ms ease 1200ms 1 normal forwards;
}

#GOALS.load_poem {
  animation: opacity_reveal 200ms ease 1400ms 1 normal forwards;
}

#BD.load_poem {
  animation: opacity_reveal 200ms ease 1600ms 1 normal forwards;
}

#LTTG.load_poem {
  animation: opacity_reveal 200ms ease 1800ms 1 normal forwards;
}

#AMBIGUITY.load_poem {
  animation: opacity_reveal 200ms ease 2000ms 1 normal forwards;
}

#TT.load_poem {
  animation: opacity_reveal 200ms ease 2200ms 1 normal forwards;
}

#COMFORT.load_poem {
  animation: opacity_reveal 200ms ease 2400ms 1 normal forwards;
}

#TM.load_poem {
  animation: opacity_reveal 200ms ease 2600ms 1 normal forwards;
}

#CS.load_poem {
  animation: opacity_reveal 200ms ease 2800ms 1 normal forwards;
}

#INF.load_poem {
  animation: opacity_reveal 200ms ease 3000ms 1 normal forwards;
}

.list-full {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.poemsNav {
  max-height: 600px;
}

.Poem {
  opacity: 0;
  transform: translate(0px, 0px);
  transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
  -moz-transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
  -webkit-transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
  -o-transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
  font-size: 20px;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}


.show_poem {
  opacity: 1 !important;
  transform: translate(50px, 0px);
}

.footerP {
  font-size: 25px;
  padding: 20px 0px 20px 0px;
}

.secretbtn {
  position: absolute;
  opacity: 0;
  width: 30px;
  height: 30px;
}

.secretbtn.showing {
  font-size: 20px;
  opacity: 1;
  width: 50%;
  height: 50%;
}

.secret {
  display: none;
}

#secret {
  display: none;
  height: 200px;
  width: 300px;
}

#project_section {
  background-color: steelblue;
  padding-bottom: 100px;
  margin-bottom: 20px;
  clear: both;
}

@keyframes project_image_load {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  50% {
    transform: translateY(-45px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }

}

.project_image {
  opacity: 0;
  transform: translateY(-20px);
  padding: 0px 15px 0px 15px;
  height: 85%;
  width: 85%;
  position: relative;
  display: block;
}


.project_name {
  font-size: 25px;
  color: whitesmoke;
}

.slider_arrow {
  position: relative;
  padding-top: 25px;
  font-size: 55px;
  padding-bottom: 20px;
}

.card_bg {
  background-color: steelblue;
  opacity: 1;
}

.arrow_IFG {
  border: solid orange;
  border-width: 0 14px 14px 0;
  display: inline-block;
  padding: 10px;
  transform: translateX(0) rotate(-45deg);
  opacity: 1;
}

.arrow_mTask {
  border: solid orange;
  border-width: 0 14px 14px 0;
  display: inline-block;
  padding: 10px;
  transform: translateX(0) rotate(-45deg);
  opacity: 1;
}

@keyframes animate_arrow {
  0% {
    opacity: 1;
    transform: translateX(0px) rotate(-45deg);
  }

  50% {
    opacity: 0;
    transform: translateX(75px) rotate(-45deg);
  }

  65% {
    opacity: 0;
    transform: translateX(-25px) rotate(-45deg);
  }

  90% {
    opacity: 1;
    transform: translateX(0px) rotate(-45deg);
  }

}

.slide_arrow {
  animation: animate_arrow 1.5s ease-in-out 0s infinite forwards normal;
}

.delay_1 {
  animation-delay: 300ms;
}

.delay_2 {
  animation-delay: 200ms;
}

.delay_3 {
  animation-delay: 100ms;
}

.project_description {
  border: solid whitesmoke;
  color: whitesmoke;
  border-width: 1px;
  margin-top: 15px;
  transform: translateY(20px);
  opacity: 0;
}

.project_full {
  padding-bottom: 20px;
}

#IFG_project {
  font-size: 35px;
  opacity: 0;
  transform: translateY(20px);
}

#mTask_project {
  font-size: 30px;
  opacity: 0;
  transform: translateY(20px);
}

#mTask_project.load {
  animation: opacity_reveal 0.25s ease 5s 1 forwards normal;
}

#IFG_project.load {
  animation: opacity_reveal 0.25s ease 5s 1 forwards normal;
}

#project_title,
.project_name {
  opacity: 0;
  transform: translateY(20px);
}

#project_title_container {
  margin-bottom: 20px;
}

#project_title.mobile {
  padding-bottom: 10px;
}

#IFG_image.load {
  animation: project_image_load 1.5s ease-in-out 500ms 1 forwards normal;
}

#mTask_image.load {
  animation: project_image_load 1.5s ease-in-out 2s 1 forwards normal;
}

#project_title.load {
  animation: opacity_reveal 0.5s ease 0s 1 forwards normal;
}

#IFG_name.load {
  animation: opacity_reveal 0.5s ease 1.5s 1 forwards normal;
}

#mTask_name.load {
  animation: opacity_reveal 0.5s ease 3s 1 forwards normal;
}

#mTask_description.load {
  animation: opacity_reveal 0.25s ease 4s 1 forwards normal;
}

#IFG_description.load {
  animation: opacity_reveal 0.25s ease 4s 1 forwards normal;
}


@keyframes load_arrow {
  0% {
    opacity: 0;
    transform: translateY(25px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }

}

.arrow_wrapper_1 {
  display: inline-block;
  opacity: 0;
  transform: translateY(25px);
}

.arrow_wrapper_1.load {
  animation: load_arrow 1s ease-in-out 6s 1 forwards normal;
}

.arrow_wrapper_2 {
  display: inline-block;
  opacity: 0;
  transform: translateY(25px);
}

.arrow_wrapper_2.load {
  animation: load_arrow 1s ease-in-out 6.2s 1 forwards normal;
}

.arrow_wrapper_3 {
  display: inline-block;
  opacity: 0;
  transform: translateY(25px);
}

.arrow_wrapper_3.load {
  animation: load_arrow 1s ease-in-out 6.4s 1 forwards normal;
}

.arrow_wrapper_4 {
  display: inline-block;
  opacity: 0;
  transform: translateY(25px);
}

.arrow_wrapper_4.load {
  animation: load_arrow 1s ease-in-out 6.6s 1 forwards normal;
}

.arrow_wrapper_5 {
  display: inline-block;
  opacity: 0;
  transform: translateY(25px);
}

.arrow_wrapper_5.load {
  animation: load_arrow 1s ease-in-out 6.8s 1 forwards normal;
}

.arrow_wrapper_6 {
  display: inline-block;
  opacity: 0;
  transform: translateY(25px);
}

.arrow_wrapper_6.load {
  animation: load_arrow 1s ease-in-out 7s 1 forwards normal;
}

#footer {
  background-color: darkcyan;
}

.social-icons {
  list-style: none;
}

.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}

.social-icons a {
  background-color: midnightblue;
  color: cyan;
  font-size: 38px;
  display: inline-block;
  line-height: 70px;
  height: 70px;
  width: 70px;
  border-radius: 100%;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: white;
}

.social-icons a.github:hover {
  background-color: black;
}

.social-icons a.soundcloud:hover {
  background-color: #FE5000;
}

.social-icons a.linkedin:hover {
  background-color: #007bb6;
}

.social-icons a.soundcloud {
  padding-bottom: 3px;
}

.social-icons a.github {
  padding-bottom: 3px;
}

.social-icons a.linkedin {
  padding-bottom: 6px;
}

#footer_name {
  font-size: 25px;
}

.footer_btn {
  font-size: 20px;
}

#email_message_box {
  border-radius: 5%;
  text-align: left;
  padding-left: 5px;
  padding-top: 5px;
  height: 27vh;
  width: 400px;
  resize: none;
  display: block;
}

@media screen and (max-width:1096px) {
  #email_message_box {
    width: 300px;
  }
}

footer h3 {
  font-size: 50px;
}

.radio-wrapper {
  font-size: 35px;
}

.custom-radio {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  outline: none;
  height: 35px;
  width: 35px;
  background: blue;
  border-radius: 50%;
  transition: all 0.5s;
  cursor: pointer;
  display: inline-block;
}

@keyframes slide_left {

  0% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(-35px);
  }

}

.radio-wrapper label.show {
  animation: slide_left 0.5s ease-in-out 0.4s 1 forwards normal;
}

.custom-radio:hover {
  height: 55px;
  background: white;
  width: 55px;
}

.custom-radio:checked {
  height: 80px;
  width: 80px;
  background: green;
}

#footer_img {
  padding: 20px 0px 20px 0px;
  margin: auto;
  display: block;
  position: relative;
  height: 45%;
}