/* allan-regular - latin */
@font-face {
  font-family: 'Allan';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/allan-v12-latin-regular.eot');
  /* IE9 Compat Modes */
  src: local('Allan Regular'), local('Allan-Regular'),
    url('./fonts/allan-v12-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('./fonts/allan-v12-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('./fonts/allan-v12-latin-regular.woff') format('woff'),
    /* Modern Browsers */
    url('./fonts/allan-v12-latin-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('./fonts/allan-v12-latin-regular.svg#Allan') format('svg');
  /* Legacy iOS */
}

@font-face {
  font-family: 'Roboto-Italic';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'),
    url('./fonts/Roboto-LightItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-Header';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'),
    url('./fonts/Roboto-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Graffiti-1';
  font-style: normal;
  font-weight: 400;
  src: local('Graffiti-1 Regular'), local('Graffiti-1-Regular'),
    url('./fonts/Searfont.ttf') format('truetype');
}

@font-face {
  font-family: 'Graffiti-2';
  font-style: normal;
  font-weight: 400;
  src: local('Graffiti-2 Regular'), local('Graffiti-2-Regular'),
    url('./fonts/PhillySans.otf') format('opentype');
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  padding: 50px 0px 200px 0px;
}

hr {
  border: none;
  display: block;
  background-color: black;
  height: 2px;
}

h3 {
  font-size: 3.5vw;
}

.navbar {
  font-size: 26px;
  z-index: 1;
  transform: translate(0px, -80px);
  transition: transform 900ms ease;
}

.show {
  transform: translate(0px, 0px);
}

.navToggle {
  z-index: 2;
  display: inline-block;
  cursor: pointer;
  right: 10px;
  top: 10px;
  position: fixed;
}

.bar1,
.bar2,
.bar3 {
  width: 40px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: transform 400ms ease, opacity 400ms ease;
  transform: rotate(0deg) translate(0px, 0px);
  opacity: 1;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.pre-load {
  background: url("./Images/Header_slider/El_Corte.JPG") no-repeat -9999px -9999px,
    url("./Images/Header_slider/Ice_House.JPG") no-repeat -9999px -9999px,
    url("./Images/Header_slider/Russ_Ridge.JPG") no-repeat -9999px -9999px,
    url("./Images/Header_slider/Lake_Tahoe.JPG") no-repeat -9999px -9999px,
    url("./Images/Header_slider/Windy_Hill.JPG") no-repeat -9999px -9999px,
    url("./Images/Header_slider/Mt_Wilson.JPG") no-repeat -9999px -9999px;
}

header {
  display: flex;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  font-family: 'Allan';
}

header div {
  margin: 0 auto;
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(26, 26, 26, 0.25), rgba(26, 26, 26, 0.25)), url("./Images/Header_slider/Ice_House.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  backface-visibility: hidden;
  animation: background_slideshow 30s linear infinite 0s;
}

@keyframes background_slideshow {
  0% {
    background-image: linear-gradient(rgba(26, 26, 26, 0.25), rgba(26, 26, 26, 0.25)), url("Images/Header_slider/Ice_House.JPG");
  }

  20% {
    background-image: linear-gradient(rgba(26, 26, 26, 0.25), rgba(26, 26, 26, 0.25)), url("Images/Header_slider/El_Corte.JPG");
  }

  40% {
    background-image: linear-gradient(rgba(26, 26, 26, 0.25), rgba(26, 26, 26, 0.25)), url("Images/Header_slider/Lake_Tahoe.JPG");
  }

  60% {
    background-image: linear-gradient(rgba(26, 26, 26, 0.25), rgba(26, 26, 26, 0.25)), url("Images/Header_slider/Mt_Wilson.JPG");
  }

  80% {
    background-image: linear-gradient(rgba(26, 26, 26, 0.25), rgba(26, 26, 26, 0.25)), url("Images/Header_slider/Russ_Ridge.JPG");
  }

  100% {
    background-image: linear-gradient(rgba(26, 26, 26, 0.25), rgba(26, 26, 26, 0.25)), url("Images/Header_slider/Windy_Hill.JPG");
  }
}

header h1 {
  text-shadow: 5px 5px 10px darkolivegreen;
  margin: 0 auto;
  color: chartreuse;
  padding-top: 10vh;
  padding-bottom: 2.5vh;
}

header div .Fancy_Text {
  opacity: 1;
  margin: 0 auto;
  padding-bottom: 50px;
  color: rgb(30, 116, 187);
  font-family: "Graffiti-2";
}


@keyframes text_slideshow {
  0% {
    color: darkcyan;
    content: "Ice House Caynon"
  }

  20% {
    color: rgb(128, 197, 24);
    content: "El Corte De Madera"
  }

  40% {
    color: darkolivegreen;
    content: "Lake Tahoe"
  }

  60% {
    color: darkcyan;
    content: "Mt Wilson"
  }

  80% {
    color: skyblue;
    content: "Russian Ridge"
  }

  100% {
    content: "Windy Hill"
  }
}

header div .Fancy_Text::after {
  content: "";
  animation: text_slideshow 30s linear infinite 0s;
}


.opacity_show {
  opacity: 1 !important;
}

.slide_fade {
  opacity: 1 !important;
  transform: translate(0px, 0px) !important;
}


@keyframes opacity_reveal {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

.arrow_left {
  border: solid orange;
  border-width: 14px 0px 0px 14px;
  padding: 10px;
  display: inline-block;
  transform: translateX(0) rotate(-45deg);
  opacity: 1;
  transition: transform ease 0.1s 0s;
}

.arrow_left:hover {
  transform: translateX(-5px) rotate(-45deg);
}

.arrow_right {
  border: solid orange;
  border-width: 0 14px 14px 0;
  padding: 10px;
  display: inline-block;
  transform: translateX(0) rotate(-45deg);
  opacity: 1;
  transition: transform ease 0.1s 0s;
}

.arrow_right:hover {
  transform: translateX(5px) rotate(-45deg);
}

@keyframes right_arrow_slide {
  0% {
    opacity: 1;
    transform: translateX(5px) rotate(-45deg);
  }

  50% {
    opacity: 0;
    transform: translateX(35px) rotate(-45deg);
  }

  51% {
    transform: translateX(-30px) rotate(-45deg);
  }

  90% {
    opacity: 1;
    transform: translateX(0px) rotate(-45deg);
  }

}

.arrow_right.arrow_clicked {
  animation: right_arrow_slide 0.5s ease-in-out 0s 1 forwards normal;
}

@keyframes left_arrow_slide {
  0% {
    opacity: 1;
    transform: translateX(-5px) rotate(-45deg);
  }

  50% {
    opacity: 0;
    transform: translateX(-35px) rotate(-45deg);
  }

  51% {
    transform: translateX(30px) rotate(-45deg);
  }

  90% {
    opacity: 1;
    transform: translateX(0px) rotate(-45deg);
  }

}

.arrow_left.arrow_clicked {
  animation: left_arrow_slide 0.5s ease-in-out 0s 1 both normal;
}

.Arrow_Nav {
  height: 50px;
  color: white;
}

.Arrow_Nav div,
.Arrow_Nav p {
  display: inline-block;
}

.Arrow_Nav p.Weight::after {
  content: "Weights";
  font-size: 50px;
  border: black 3px;
  color: orange;
}

.Arrow_Nav p.Music::after {
  content: "Music";
  font-size: 50px;
  border: black 3px;
  color: orange;
}

.Arrow_Nav p.Yoga::after {
  content: "Yoga";
  font-size: 50px;
  border: black 3px;
  color: orange;
}

.Arrow_Nav p.Education::after {
  content: "Education";
  font-size: 50px;
  border: black 3px;
  color: orange;
}

.Arrow_Nav p.Aspirations::after {
  content: "Visions";
  font-size: 50px;
  border: black 3px;
  color: orange;
}

.Arrow_Nav p.Book::after {
  content: "Books";
  font-size: 50px;
  border: black 3px;
  color: orange;
}

.Arrow_Nav p.Developing::after {
  content: "Dev";
  font-size: 50px;
  border: black 3px;
  color: orange;
}

.about_section {
  padding-top: 25px;
}

.about_section h3,
.about_section h4 {
  font-family: 'Roboto-Header';
  opacity: 0;
  transform: translate(15px, 0px);
  transition: opacity 400ms ease 800ms, transform 400ms ease 800ms;
}

.activity_section .col-md {
  margin: auto;
}

.activity_selector button {
  margin: auto;
  width: 80%;
  font-size: 24px;
  opacity: 0;
  transform: translate(0px, 10px);
}

#Weight-Lifting.load {
  animation: opacity_reveal 200ms ease 1500ms 1 forwards normal;
}

#Book-Reading.load {
  animation: opacity_reveal 200ms ease 1800ms 1 forwards normal;
}

#Developing.load {
  animation: opacity_reveal 200ms ease 2100ms 1 forwards normal;
}

#Music.load {
  animation: opacity_reveal 200ms ease 2400ms 1 forwards normal;
}

#Yoga.load {
  animation: opacity_reveal 200ms ease 2700ms 1 forwards normal;
}

#Education.load {
  animation: opacity_reveal 200ms ease 3000ms 1 forwards normal;
}

#Aspirations.load {
  animation: opacity_reveal 200ms ease 3300ms 1 forwards normal;
}


.activity_content {
  padding-top: 25px;
}

.activity_content img {
  display: block;
  margin: auto;
}

.activity_content h4 {
  font-family: 'Roboto-Italic';
  color: orange;
}

div.activity_content>div {
  opacity: 0;
  position: absolute;
  margin: auto;
  transform: translate(-25px, 150px);
}

.activity_content p {
  display: inline;
}

.activity_content hr {
  width: auto;
  margin: auto;
}

.show_content {
  opacity: 1 !important;
  transform: translate(-25px, 25px) !important;
}

.quote_section {
  height: 100%;
  margin: auto;
  padding: auto;
}

.inspiration_circle {
  height: 14em;
  width: 17.5em;
  background: radial-gradient(ellipse at center,
      orange 0%,
      orange 60%,
      rgba(0, 128, 172, 0) 60.3%);
}


.inspiration_circle blockquote {
  height: 100%;
  width: 100%;
  margin: 0;
  position: relative;
  padding-top: 3em;
}

.inspiration_circle blockquote p {
  text-align: center;
  padding: 0;
  height: 100%;
  line-height: 1.25;
}

.inspiration_circle blockquote::before {
  content: "";
  float: left;
  height: 100%;
  width: 50%;
  --bite:
    radial-gradient(farthest-side at var(--pos-x, 100%),
      transparent 99%,
      red);
  shape-outside: var(--bite);
}

.inspiration_circle blockquote p::before {
  content: "";
  float: right;
  --pos-x: 0;
  height: 100%;
  width: 50%;
  --bite:
    radial-gradient(farthest-side at var(--pos-x, 100%),
      transparent 99%,
      red);
  shape-outside: var(--bite);
}

blockquote footer {
  font-style: italic;
  text-align: center;
  width: 100%;
}

blockquote {
  color: black;
}


#poetry_section h1 {
  font-family: "Roboto-Header";
  opacity: 0;
  transition: opacity 400ms ease;
}

#poetry_section h2 {
  font-family: "Roboto-Italic";
  opacity: 0;
  transition: opacity 400ms ease 500ms;
}

#poetry_section h3 {
  color: orange;
  font-family: "Roboto-Italic";
}


.poem_nav button {
  opacity: 0;
  margin: auto;
  width: 80%;
  font-size: 22px;
  transform: translate(0px, 10px);
}

#BD.load_poem {
  animation: opacity_reveal 200ms ease 1000ms 1 normal forwards;
}

#TM.load_poem {
  animation: opacity_reveal 200ms ease 1200ms 1 normal forwards;
}

#CS.load_poem {
  animation: opacity_reveal 200ms ease 1400ms 1 normal forwards;
}

#HV.load_poem {
  animation: opacity_reveal 200ms ease 1600ms 1 normal forwards;
}

#UPS.load_poem {
  animation: opacity_reveal 200ms ease 1800ms 1 normal forwards;
}

#poetry_section .row .col-4 {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.Poem {
  opacity: 0;
  transform: translate(0px, 0px);
  transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
}

.Poem p {
  font-size: 20px;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}


.show_poem {
  opacity: 1 !important;
  transform: translate(50px, 0px);
}

.Arrow_Poetry_Nav {
  height: 50px;
  color: white;
}

.Arrow_Poetry_Nav div,
.Arrow_Poetry_Nav p {
  display: inline-block;
}

.Arrow_Poetry_Nav p.BD::after {
  content: "Brighter Day";
  font-size: 40px;
  border: black 3px;
  color: orange;
}

.Arrow_Poetry_Nav p.TM::after {
  content: "Tell Me";
  font-size: 40px;
  border: black 3px;
  color: orange;
}

.Arrow_Poetry_Nav p.CS::after {
  content: "Clear Sight";
  font-size: 40px;
  border: black 3px;
  color: orange;
}

.Arrow_Poetry_Nav p.HV::after {
  content: "Hover";
  font-size: 40px;
  border: black 3px;
  color: orange;
}

.Arrow_Poetry_Nav p.UPS::after {
  content: "On the Upside";
  font-size: 40px;
  border: black 3px;
  color: orange;
}

.Arrow_Poetry_Nav p.Pen::after {
  content: "Pending poem";
  font-size: 40px;
  border: black 3px;
  color: orange;
}


.footerP {
  font-size: 25px;
  padding: 20px 0px 20px 0px;
}

#project_section {
  padding-bottom: 3vh;
  margin-bottom: 20px;
  clear: both;
}

@keyframes mTask_image_load {
  0% {
    opacity: 0;
    transform: translateX(80px);
  }

  100% {
    opacity: 1;
    transform: translateX(20px);
  }
}

#mTask_image.load {
  animation: mTask_image_load 0.5s ease-in-out 500ms 1 forwards normal;
}

.project_image {
  opacity: 0;
  float: left;
  padding: 15px;
  display: block;
}

#project_section h3 {
  color: orange;
  font-family: 'Roboto-Italic';
}

#project_section h2 {
  font-family: 'Roboto-Header';
}

.IFG_Section {
  padding-bottom: 18px;
  font-size: 20vw;
}

.mTask_Section {
  padding-top: 10px;
  font-size: 20vw;
}

.slider_arrow {
  position: relative;
  padding-top: 25px;
  font-size: 55px;
  padding-bottom: 20px;
}


.arrow_IFG {
  border: solid orange;
  border-width: 0 14px 14px 0;
  display: inline-block;
  padding: 10px;
  transform: translateX(0) rotate(-45deg);
  opacity: 1;
}

.arrow_mTask {
  border: solid orange;
  border-width: 0 14px 14px 0;
  display: inline-block;
  padding: 10px;
  transform: translateX(0) rotate(-45deg);
  opacity: 1;
}

.arrow_like {
  border: solid orange;
  border-width: 0 14px 14px 0;
  display: inline-block;
  padding: 10px;
  transform: translateX(0) rotate(-135deg);
  opacity: 1;
}

@keyframes animate_arrow {
  0% {
    opacity: 1;
    transform: translateX(0px) rotate(-45deg);
  }

  50% {
    opacity: 0;
    transform: translateX(75px) rotate(-45deg);
  }

  65% {
    opacity: 0;
    transform: translateX(-25px) rotate(-45deg);
  }

  90% {
    opacity: 1;
    transform: translateX(0px) rotate(-45deg);
  }

}

.slide_arrow {
  animation: animate_arrow 1.5s ease-in-out 0s infinite forwards normal;
}

.delay_1 {
  animation-delay: 300ms;
}

.delay_2 {
  animation-delay: 200ms;
}

.delay_3 {
  animation-delay: 100ms;
}

.project_description {
  margin-top: 15px;
  transform: translateY(20px);
  opacity: 0;
}

.project_full {
  padding-bottom: 20px;
}

#col_padding {
  margin: 0;
  padding: 0;
}

#IFG_project {
  font-size: 35px;
  opacity: 0;
  transform: translateY(20px);
}

#mTask_project {
  font-size: 35px;
  opacity: 0;
  transform: translateY(20px);
}

#mTask_project.load {
  animation: opacity_reveal 0.25s ease 2.25s 1 forwards normal;
}

#IFG_project.load {
  animation: opacity_reveal 0.25s ease 2.25s 1 forwards normal;
}

#project_title,
.project_name {
  opacity: 0;
  transform: translateY(20px);
}

.project_name {
  font-family: 'Roboto-Italic'
}

#project_title_container {
  margin-bottom: 20px;
}

#project_title.load {
  animation: opacity_reveal 0.5s ease 0s 1 forwards normal;
}

#IFG_name.load {
  animation: opacity_reveal 0.5s ease 1s 1 forwards normal;
}

#mTask_name.load {
  animation: opacity_reveal 0.5s ease 1s 1 forwards normal;
}

#mTask_description.load {
  animation: opacity_reveal 0.25s ease 1.5s 1 forwards normal;
}

#IFG_description.load {
  animation: opacity_reveal 0.25s ease 1.5s 1 forwards normal;
}


@keyframes load_arrow {
  0% {
    opacity: 0;
    transform: translateY(25px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }

}

.arrow_wrapper {
  display: inline;
  opacity: 1;
  transform: translateY(25px);
}

.arrow_wrapper_1 {
  display: inline-block;
  opacity: 0;
  transform: translateY(25px);
}

.arrow_wrapper_1.load {
  animation: load_arrow 1s ease-in-out 2.75s 1 forwards normal;
}

.arrow_wrapper_2 {
  display: inline-block;
  opacity: 0;
  transform: translateY(25px);
}

.arrow_wrapper_2.load {
  animation: load_arrow 1s ease-in-out 2.95s 1 forwards normal;
}

.arrow_wrapper_3 {
  display: inline-block;
  opacity: 0;
  transform: translateY(25px);
}

.arrow_wrapper_3.load {
  animation: load_arrow 1s ease-in-out 3.15s 1 forwards normal;
}

.arrow_wrapper_4 {
  display: inline-block;
  opacity: 0;
  transform: translateY(25px);
}

.arrow_wrapper_4.load {
  animation: load_arrow 1s ease-in-out 2.75s 1 forwards normal;
}

.arrow_wrapper_5 {
  display: inline-block;
  opacity: 0;
  transform: translateY(25px);
}

.arrow_wrapper_5.load {
  animation: load_arrow 1s ease-in-out 2.95s 1 forwards normal;
}

.arrow_wrapper_6 {
  display: inline-block;
  opacity: 0;
  transform: translateY(25px);
}

.arrow_wrapper_6.load {
  animation: load_arrow 1s ease-in-out 3.15s 1 forwards normal;
}

#footer {
  background-image: linear-gradient(0deg, rgba(14, 9, 41, 0.959), rgb(22, 16, 61), rgba(14, 9, 41, 0.959));
}

.social-icons {
  list-style: none;
}

.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}

.social-icons a {
  background-color: midnightblue;
  color: cyan;
  font-size: 38px;
  display: inline-block;
  line-height: 70px;
  height: 70px;
  width: 70px;
  border-radius: 100%;
  transition: all .2s linear;
  margin: auto;
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: white;
}

.social-icons a.github:hover {
  background-color: black;
}

.social-icons a.soundcloud:hover {
  background-color: #FE5000;
}

.social-icons a.linkedin:hover {
  background-color: #007bb6;
}

.social-icons a.soundcloud {
  padding-bottom: 3px;
}

.social-icons a.github {
  padding-bottom: 3px;
}

.social-icons a.linkedin {
  padding-bottom: 6px;
}


#footer button {
  font-size: 40px;
}


#footer h1 {
  font-size: 150px;
  font-family: 'Allan';
}

#footer_img {
  padding: 20px 0px 20px 0px;
  margin: auto;
  display: block;
  height: 75%;
}